{% extends 'flatpages/default.html' %}

{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-3283{background-color:#efefef;border-color:#fffc9e;text-align:left;vertical-align:top}
.tg .tg-ah3a{background-color:#ffffff;border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-1tw4{background-color:#efefef;border-color:#efefef;color:#036400;font-family:Georgia, serif !important;font-size:26px;
  font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-p6y3{background-color:#efefef;border-color:#efefef;font-family:Georgia, serif !important;font-size:18px;text-align:center;
  vertical-align:top}
.tg .tg-og9d{background-color:#efefef;border-color:#a8eba8;font-family:Georgia, serif !important;font-size:16px;text-align:center;
  vertical-align:top}
.tg .tg-zy3z{background-color:#efefef;border-color:#dae8fc;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 944px">
<colgroup>
<col style="width: 164px">
<col style="width: 434px">
<col style="width: 198px">
<col style="width: 148px">
</colgroup>
<thead>
  <tr>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-1tw4" colspan="4"><span style="font-weight:bold">Meine Kontakte!  </span><br></td>
  </tr>
  <tr>
    <td class="tg-p6y3" colspan="4"><br>Wenn Sie mehr über mich wissen wollen, können Sie mir gerne schreiben: nova833@mail.ru</td>
  </tr>
  <tr>
    <td class="tg-og9d" colspan="4"><span style="font-weight:bold">Oder rufen Sie mich unter dieser Nummer an: +79811448911</span><br> </td>
  </tr>
  <tr>
    <td class="tg-zy3z" colspan="4"><br> </td>
  </tr>
  <tr>
    <td class="tg-3283" colspan="4" rowspan="2"><br> </td>
  </tr>
  <tr>
  </tr>
  <tr>
    <td class="tg-oe15"></td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15"></td>
    <td class="tg-ah3a"></td>
  </tr>
</tbody>
</table>
{% endblock content %}