{% extends 'flatpages/default.html' %}

{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-41k6{background-color:#efefef;border-color:#000000;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
.tg .tg-bob9{background-color:#efefef;border-color:#000000;font-family:"Comic Sans MS", cursive, sans-serif !important;
  font-size:18px;text-align:left;vertical-align:top}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-ah3a{background-color:#ffffff;border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-jr66{background-color:#ffffff;border-color:#ffffff;font-family:Georgia, serif !important;font-size:18px;font-weight:bold;
  text-align:left;vertical-align:top}
.tg .tg-fkgn{background-color:#efefef;border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-g4q7{background-color:#efefef;border-color:#efefef;color:#036400;font-size:28px;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 961px">
<colgroup>
<col style="width: 117px">
<col style="width: 360px">
<col style="width: 409px">
<col style="width: 75px">
</colgroup>
<thead>
  <tr>
    <th class="tg-oe15"></th>
    <th class="tg-jr66">                                 </th>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-fkgn"></td>
    <td class="tg-g4q7" colspan="2"><span style="font-weight:bold">Herzlich willkommen auf meine Seite!</span></td>
    <td class="tg-fkgn"></td>
  </tr>
  <tr>
    <td class="tg-fkgn"></td>
    <td class="tg-pzkh"><br><img src="media\mein_antlitz.jpg" alt="Image" width="300" height="250"></td>
    <td class="tg-41k6"> Ich heiße Anna und ich bin 38 Jahre alt.<br>Ich wohne in der schönsten Stadt Russlands <br>in Sankt-Petersburg.<br>Ich habe keine Angst was Neues zulernen, ich mag Herausforderungen.<br>Ich bin eine fröhliche Person und genieße mein Leben.</td>
    <td class="tg-fkgn"></td>
  </tr>
  <tr>
    <td class="tg-oe15"></td>
    <td class="tg-oe15" colspan="2"></td>
    <td class="tg-ah3a"></td>
  </tr>
</tbody>
</table>
{% endblock content %}
