{% extends 'flatpages/default.html' %}

{% block content %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-qiem{background-color:#efefef;border-color:#efefef;color:#036400;font-family:Georgia, serif !important;font-size:24px;
  font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-41k6{background-color:#efefef;border-color:#000000;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-eqnd{background-color:#cbcefb;border-color:#cbcefb;text-align:left;vertical-align:top}
.tg .tg-18bt{background-color:#dae8fc;border-color:#dae8fc;text-align:left;vertical-align:top}
.tg .tg-ah3a{background-color:#ffffff;border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-fkgn{background-color:#efefef;border-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-y698{background-color:#efefef;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-pf87{background-color:#a8eba8;border-color:#a8eba8;text-align:left;vertical-align:top}
.tg .tg-rf5w{background-color:#a8eba8;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-it8q{background-color:#a8eba8;border-color:inherit;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
.tg .tg-x6qq{background-color:#dae8fc;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-imdv{background-color:#dae8fc;border-color:#343434;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
.tg .tg-ddef{background-color:#fffc9e;border-color:#fffc9e;text-align:left;vertical-align:top}
.tg .tg-elvq{background-color:#fffc9e;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-ce2c{background-color:#fffc9e;border-color:#000000;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
.tg .tg-61xu{background-color:#cbcefb;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-3u4g{background-color:#cbcefb;border-color:#000000;font-family:Georgia, serif !important;font-size:18px;text-align:left;
  vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 944px">
<colgroup>
<col style="width: 164px">
<col style="width: 434px">
<col style="width: 198px">
<col style="width: 148px">
</colgroup>
<thead>
  <tr>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
    <th class="tg-oe15"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-qiem" colspan="4"><span style="font-weight:bold">Mein Hobby!  </span></td>
  </tr>
  <tr>
    <td class="tg-fkgn"></td>
    <td class="tg-pzkh"><br><img src="\anna\media\male_1.jpeg" alt="Image" width="300" height="300"></td>
    <td class="tg-41k6"><br>Ich male gern.</td>
    <td class="tg-fkgn"></td>
  </tr>
  <tr>
    <td class="tg-pf87"></td>
    <td class="tg-pzkh"><br><img src="\anna\media\musik.jpeg" alt="Image" width="300" height="300"></td>
    <td class="tg-it8q">Ich spiele gern Musik.<br></td>
    <td class="tg-pf87"></td>
  </tr>
  <tr>
    <td class="tg-18bt"></td>
    <td class="tg-yskn">
      <video src="\anna\media\reise.mp4" controls="true"
                   width="400"></video>
    </td>

    <td class="tg-imdv">Ich reise gern.<br></td>
    <td class="tg-18bt"></td>
  </tr>
  <tr>
    <td class="tg-ddef"></td>
    <td class="tg-pzkh"><br><img src="\anna\media\china.jpeg" alt="Image" width="400" height="200"></td>
    <td class="tg-ce2c">Ich liebe Sprachen.<br></td>
    <td class="tg-ddef"></td>
  </tr>
  <tr>
    <td class="tg-eqnd"></td>
    <td class="tg-yskn">
      <video src="\anna\media\hunde_video.mp4" controls="true"
                   width="400"></video>
    </td>
    <td class="tg-3u4g">Ich liebe Hunde!<br></td>
    <td class="tg-eqnd"></td>
  </tr>
  <tr>
    <td class="tg-oe15"></td>
    <td class="tg-oe15"></td>
    <td class="tg-oe15"></td>
    <td class="tg-ah3a"></td>
  </tr>
</tbody>
</table>

{% endblock content %}